* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: #041B33;
    width: 100%;
    height: auto;
}

.navbar-brand img{
    width: 250px;
}

 header .navbar .container-fluid .collapse .navbar-nav .active {
    color: orangered;
}
 header .navbar .container-fluid .btn {
    background-color: orangered;
    color: white;
}
.container-fluid .navbar-toggler{
  color: white;
  background-color: rgb(185, 5, 5);
    
}

@media all and (max-width: 1100px) {
    header{
        margin-top: -50px;
    }
    .navbar-brand img{
        width: 250px;
        margin-left: -50px;
    }
    .container-fluid .navbar-toggler{
        margin-right: 30px;
        
    }
}

.container .section-1{
    margin-top: 100px;
}
@media all and (max-width: 1100px) {
    .container .row .col-md-4 h5 {
        position: absolute;
        top: 550px;
    }
    .container .row .col-md-8{
      margin-top: -40px;
    }
    .container .row .col-md-5 .img-fluid{
        margin-top: -90px;
        margin-left: -30px;
    }
}


.container .section-1 .col-md-12 .row .col-md-5 .row .col-md-5 .btn {
    background-color: red;
    color: white;
}

.container .section-1 .col-md-12 .row .col-md-5 .row .col-md-4 p {
    border-bottom: 2px solid black;
}

.container .section-1 .col-md-12 .row h2{
    color: red;
    font-size: 3.2rem;
}

.container .section-1 .col-md-12 .row h1 {
    font-size: 4rem;
}

.container .col-md-12 .row .col-md-5 .row .col-md-4 h5 {
    margin-top: 78px;
}



@media all and (max-width: 1000px) {
    .container .section-1 {
        margin-top: -20px;
    }

    .container .section-1 .col-md-12 .row h1 {
        font-size: 3rem;
    }

    .container .col-md-12 .row .col-md-5 .row .col-md-4 h5 {
        margin-top: -38px;
    }

    .container .section-1 .col-md-12 .row .col-md-5 .row .col-md-4 p {
        border: none;
    }


    .container .section-1 .col-md-12 .row .col-md-5 .row .col-md-5 .btn {
        margin-top: -40px;
    }


}

.container .section-2 {
    background-color: #041B33;

}

.container .section-2 .col-md-12 .row .col-md-6 {
    margin-top: 120px;
}

.container .section-2 .col-md-12 .row .col-md-6 h1:nth-child(1) span {
    color: #F42664;
}

.container .section-2 .col-md-12 .row .col-md-6 h1:nth-child(2) span {
    color: blue;
}

.container .section-2 .col-md-12 .row .col-md-3 .input-group {
    margin-top: 180px;
    position: relative;
    right: 150px;
}

.container .section-2 .col-md-12 .row .col-md-3 .btn:nth-child(1) {
    background-color: red;

}

.container .section-2 .col-md-12 .row .col-md-3 .btn:nth-child(2) {
    border: 1px solid red;
    color: white;
}

.container .section-2 .col-md-12 .row:nth-child(2) .col-md-5 p {
    color: white;
}

.container .col-md-12 .row:nth-child(2) h1 {
    font-size: 4rem;
}

.container .section-2 .col-md-12 .row:nth-child(2) .col-md-5 p:nth-child(1) {
    color: red;
}

.container .section-2 .col-md-12 .row:nth-child(2) .col-md-5 p:nth-child(2) span {
    color: red;
}


@media all and (max-width: 1000px) {
    .container .col-md-12 .row:nth-child(1) .col-md-3 {
        margin-top: -130px;
    }
}

.container .col-md-12 .input-group{
    margin-left: 150px;
}

.container .section-2 .col-md-12 .row-3 .col-md-5 {
    background-color: #082b51;
    border-radius: 20px;
    padding: 50px 50px;
}

.container .section-2 .col-md-12 .row-3 .col-md-5-1 h1 {
    color: red;
}

.container .section-2 .col-md-12 .row-3 .col-md-5-1 .col-md-12 .row .col-md-10 p {
    border-bottom: 2px solid red;
    padding: 10px 0;
}

.container .section-2 .col-md-12 .row-3 .col-md-5:last-child .col-md-12 .row .col-md-10 p {
    border-bottom: 2px solid blue;
    padding: 10px 0;
}

.container .section-2 .col-md-12 .row-2 {
    margin: -40px 0 -100px 0;
}

@media all and (max-width: 1000px) {

    .container .section-2 .col-md-12 .row-3 .col-md-5 {
        margin-top: -15px;
    }

    .container .section-2 .col-md-12 .row-3 .col-md-5 h1 {
        font-size: 2rem;
    }

    .container .section-2 .col-md-12 .row-3 .col-md-5 p {
        font-size: 0.6;
    }

    .container .section-2 .col-md-12 .row-2 {
        display: none;
    }

    .container .section-2 .col-md-12 .row:nth-child(3) .col-md-5 {
        margin-bottom: -50px;
    }
}

@media all and (max-width: 1000px) {

    .container .section-3 .col-md-12 .row {
        gap: 10px 0;
    }

    .container .section-3 .col-md-12 .row .col-md-5 h1 {
        font-weight: 700;
        font-size: 3rem;
    }
}

.container .section-4 {
    background-color: #041B33;
    padding: 50px 0;
}

.container .section-4 .col-md-12 .col-md-10 .line {
    margin-top: 250px;
    border: 1px solid #3CCDE0;
}

.container .section-4 .col-md-12 .col-md-5 {
    margin-top: 100px;
}


@media all and (max-width: 1000px) {
    .container .section-4 .col-md-12 .col-md-10 .line {
        margin: 200px 20px;
    }

    .container .section-4 .col-md-12 .col-md-5 {
        display: none;
    }
    .container .section-5 .col-md-12  .input-group{
        margin-top: 20px;
        margin-left: 30px;
        width: 300px;
    }

    .container .section-5 .col-md-12  .col-md-5 img{
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

.container .section-5 .col-md-12 .row .col-md-5 .input-group input {
    background-color: #FAF6F6;
    border: 1px solid red;
}

.container .section-5 .col-md-12 .row .col-md-5 .input-group .btn {
    background-color: red;
    color: red;
}

.container .section-5 .col-md-12 .col-md-9 {
    background-color: #F6F1F3;
    border-radius: 10px;
}



.container .section-6 .col-md-12 .row .col-md-10 .col-md-12 .row {
    border-bottom: 1px solid red;
    padding: 20px 0;
}

footer {
    
    width: 90%;
    height: auto;
    position: absolute;
    margin-left: 90px;
}

footer .col-md-12 .row .col-md-3 .input-group input {
    background-color: #FAF6F6;
    border: 1px solid red;
}

footer .col-md-12 .row .col-md-3 .input-group .btn {
    background-color: red;
    color: red;
}

footer .col-md-12 .row .col-md-3:nth-child(1),
.col-md-3:nth-child(2),
.col-md-3:nth-child(3) {
    margin-top: 150px;
}

footer .col-md-12 .row .col-md-5 span {
    border-bottom: 2px solid black;
}

@media all and (max-width: 1100px) {

  footer{
   margin-left: -5px;
  }

    footer .col-md-12 .row .col-md-3:nth-child(1){
        margin: auto;
    }
    footer .col-md-12 .row .col-md-3:nth-child(2){
        margin: auto;
    }
    footer .col-md-12 .row .col-md-3:nth-child(3){
        margin: auto;
    }
    footer .col-md-12 .row .col-md-3:nth-child(4){
        margin: auto;
    }
    footer .col-md-12 .justify-content-between:last-child{
        margin-left: 10px;
    }
}



.container .section-9 .col-md-12 .row .col-md-7 .btn-submit {
    background-color: orangered;
    color: white;
}

@media all and (max-width: 1000px){
    .container .section-9 .col-md-12 .row .col-md-10 .btn-submit{
      width: 100%;
    }
   
}
